/*
put the following style rules into #leader_div:
    leader_div.style.width = "500px";
    leader_div.style.height = "800px";
    leader_div.style.textAlign = "center";
    leader_div.style.lineHeight = "100px";
    leader_div.style.fontSize = "100px";
    leader_div.style.fontFamily = "monospace";
*/
#time {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-family: sans-serif;
}

#box {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-family: sans-serif;
}

#select {
    position: absolute;
    width: 80px;
    height: 20px;
    border: 1px solid black;
    background-color: white;    
}

#leader_list {
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-family: monospace;
}

#leader_div {
    width: 500px;
    height: 800px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-family: monospace;
}
